* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

/* Navbar styles */
nav {
    background-color: #f2f2f2;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 5px -1px 20px 5px rgb(0 0 0 / 20%);
}

nav img {
    height: 40px;
    width: auto;
}


nav .menu-icon {
    display: none;
    cursor: pointer;
}

.admin-login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 40vw;
    min-height: 80vh;
    padding: 4rem;
    border-radius: 5px;
}

.login-form img {
    width: 150px;
}

.login-form h1 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    display: block;
    width: 100%;
    color: black;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-radius: 3px;
    border-bottom: 2px solid black;
}

.login-form input[type="submit"] {
    display: block;
    width: 30%;
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: rgb(8, 115, 255);
    color: #fff;
    letter-spacing: 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.login-form input[type="submit"]:hover {
    background-color: #1222ff;
}

.invalid-msg {
    margin-top: 20px;
    color: red;
}

.logout-btn {
    background-color: #1222ff00;
    cursor: pointer;
    border: none;
}

.logout-btn img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.dash-btn {
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    padding: 10px 30px;
    background: #6200ee;
    font-size: 14px;
    letter-spacing: 0.0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dash-btn:hover {
    background: rgb(98, 0, 238);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.dash-div {
    margin: 2rem;
}

.dash-div h1 {
    margin: 1rem 0;
}

.dash-div h2 {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.dash-div-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dash-div-btn div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.dash-div-btn a {
    margin-left: 15px;
}

.action-div {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.action-div h1 {
    margin: 2rem 0;
}

.show-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.show-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.show-items table {
    text-align: center;
    width: 100%;
}

.show-items table th {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.show-items table td {
    padding: 1rem 0;
    font-size: 1.2rem;
}

.dash-news {
    margin-top: 2rem;
    width: 100%;
}

.dash-news table {
    text-align: center;
    width: 100%;
}

.dash-news table th {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.dash-news table td {
    padding: 1rem 0;
    font-size: 1rem;
}

.order-news tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-form {
    display: flex;
    flex-direction: column;
}

.product-form {
    min-height: 50vh;
}

.product-form input[type="text"],
.product-form input[type="number"] {
    display: block;
    width: 100%;
    padding: 15px;
    outline: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #ccc;
}

.product-form input[type="submit"] {
    width: 10%;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: rgb(8, 115, 255);
    color: #fff;
    letter-spacing: 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.product-form input[type="submit"]:hover {
    background-color: #1222ff;
}

.admin-logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.go-back-logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.admin-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.del-btn {
    outline: none;
    border: none;
    background-color: transparent;
}

.del-btn:hover {
    cursor: pointer;
}

.del-btn img {
    width: 20px;
    height: 20px;
}

input[type="file"]::file-selector-button {
    border: 2px solid #ffffff;
    padding: 1rem 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    color: #000;
    border-radius: 0.2em;
}

input[type="file"]::-ms-browse:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .login-form {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: block;
    }

    nav.responsive ul {
        display: block;
    }
}
